.button {
    background-color: #337CCF;
    color: white;
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
.button:hover {
background-color: darkblue;  /* Darker blue on hover */
}

